# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =============== #
# Imported Assets #
# =============== #
Assets/UnityTestTools*
Assets/affdex*
Assets/Scenes/Test.unity*
Assets/Scenes/Integrati*
Assets/Scenes/Video*
Assets/Editor*
Assets/Stream*
Assets/IntegrationTests*
Assets/web_*
Assets/ViewCam*
Assets/Listener*
Assets/Camera*
